.calc_container {

  width: 217px;
  margin: 0 auto;
  border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  -webkit-border-radius: 15px 15px 15px 15px;
  border: 5px solid darkred;


}
#calc_output{
  height: 60px;
  font-family: "Bona Nova", serif;
  font-size: 40px;


}
.calc_cell {
  margin-bottom: 10px;

  input[type="button"] {
    width: 50px;
    height: 50px;
    background-color: #e7a61a;
    -webkit-box-shadow: 10px 10px 26px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 26px 1px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 26px 1px rgba(0,0,0,0.75);
    font-family: "Bona Nova", serif;
    font-size: 22px;
  &:hover{
    background-image: radial-gradient(ellipse farthest-corner at 50% 50%, #fdeaa8,#777);
  }
  }

}
