/scss/main_style.css.map
/add/A2plus/style.css.map
/homework/N_03ANKETA/.idea/vcs.xml
/.idea/vcs.xml
/.idea/watcherTasks.xml
/homework/N_03ANKETA/.idea/modules.xml
/.idea/modules.xml
/.idea/JSClass.iml
/homework/N_03ANKETA/.idea/N_03ANKETA.iml
/calc/calc_style.css.map
/homework/.idea/homework.iml
/homework/.idea/modules.xml
/homework/.idea/vcs.xml
/homework/.idea/.gitignore
/add/A3plus/style.css.map
/homework/N_07VOWELS/style.css.map
/add/A4plus/style.css.map
/scss/hw_style.css
/scss/hw_style.css.map
/add/B2plus/style.css
/add/B2plus/style.css.map
/homework/CREATE_TAGS/style_tags.css.map
/homework/N_23DYN_FORM/style.css.map
/homework/N_27VALID_FORM/formStyle.css.map
