/scss/main_style.css.map
/add/A2plus/style.css.map
/homework/N_03ANKETA/.idea/vcs.xml
/.idea/vcs.xml
/.idea/watcherTasks.xml
/homework/N_03ANKETA/.idea/modules.xml
/.idea/modules.xml
/.idea/JSClass.iml
/homework/N_03ANKETA/.idea/N_03ANKETA.iml
/calc/calc_style.css.map
/homework/.idea/homework.iml
/homework/.idea/modules.xml
/homework/.idea/vcs.xml
/homework/.idea/.gitignore
